<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="severity" value="warning"/>
  <property name="charset" value="UTF-8"/>
  <module name="FileTabCharacter"/>
  <module name="NewlineAtEndOfFile"/>
  <module name="LineLength">
    <property name="max" value="120"/>
    <property name="ignorePattern" value="^import |^package |http[s]?://"/>
  </module>
  <module name="TreeWalker">
    <module name="AvoidStarImport"/>
    <module name="UnusedImports"/>
    <module name="RedundantImport"/>
    <module name="EmptyBlock"/>
    <module name="NeedBraces"/>
    <module name="LeftCurly"/>
    <module name="RightCurly"/>
    <module name="WhitespaceAround"/>
    <module name="WhitespaceAfter"/>
    <module name="NoWhitespaceBefore"/>
    <module name="ModifierOrder"/>
    <module name="OneStatementPerLine"/>
    <module name="MultipleVariableDeclarations"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="EqualsHashCode"/>
    <module name="MissingSwitchDefault"/>
    <module name="FinalClass"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="PackageName"/>
    <module name="TypeName"/>
    <module name="MethodName"/>
    <module name="ConstantName"/>
    <module name="LocalVariableName"/>
    <module name="ParameterName"/>
    <module name="Indentation">
      <property name="basicOffset" value="4"/>
      <property name="caseIndent" value="4"/>
      <property name="lineWrappingIndentation" value="8"/>
    </module>
  </module>
</module>
